/* BookNowPage.css */

/* Container for the booking page */
.booking-container {
    max-width: 1000px; 
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #ece6da;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 40px auto; 
    display: flex;
    flex-direction: row; 


}

  
  /* Header styling */
  .booking-info h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
   
     color: #f7f3ed;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  font-family: 'Birthstone', cursive; 
  }

  .booking-info p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Georgia', serif;

  }
  

 
  
  /* Form field styling */
  .booking-container form {
    display: flex;
    flex-direction: column;
  }
  
  /* Each form field styling */
  .booking-container .form-group {
    margin-bottom: 20px;
  }
  
  /* Label for form fields */
  .booking-container label {
    font-weight: normal;
    display: block;
    margin-bottom: 8px;
    color: #464444;
  }
  
  /* Input field styling */
  .booking-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cbcac8;
    border-radius: 4px;
    margin-top: 8px;
    background-color: #eeebe8;
  }
  
  /* Submit button styling */
  .booking-container button {
    background-color: #584f3d;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .booking-container button:hover {
    background-color: #45a049;
  }
  
  .booking-container button:focus {
    outline: none;
  }
  .booking-info, .booking-form {
  flex: 1;
}
.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  flex: 2; 
  padding: 20px;
  background-image: url('images/booking.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.booking-form {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: #cbbead;
  flex: 3; 
  
  padding: 20px;
}

.booking-form form {
  margin-top: 1rem;
  width: 100%; 
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 5px !important
}

.half-width {
  flex: 1 1 40%;
}

.quarter-width {
  flex: 1 1 23%;
}

.form-group {
  display: flex;
  flex-direction: column;
 padding: 2px;
  margin-bottom: 20px;
}
booking-container input,
.booking-container select {
  width: 100%; /* Ensure select matches input size */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  box-sizing: border-box; /* Prevent overflow */
      background-color: #eeebe8;

}